h2,
h3,
h4,
h5,
h6
{
  text-align: left;
}

/* Thickens heading border */
h1,
h2,
h3 {
  border-bottom: 2px solid #eaeaea;
}

p {
  text-align: justify;
}

@media screen and (max-width: 48rem)
{
  body {
    margin: 0 0.3em;
  }
}