h2,
h3,
h4,
h5,
h6
{
  text-align: left;
}

h5,
h6
{
	text-align: center;
	margin-top: initial;
	margin-bottom: initial;
}

@media screen and (min-width: 48rem)
{
	h5,
	h6
	{
		text-align: initial;
	}
}

/* Thickens heading border */
h1,
h2,
h3 {
  border-bottom: 6px dashed #fee79a;
}

b,
strong {
  font-weight: bold;
}

pre code,
pre {
	color: #f8f8f2;
	background: #303333;
}

body {
    margin: 0 0.3em;
    color: rgba(30, 40, 40, 0.88);
}

@media screen and (min-width: 48rem)
{
	body {
		margin: 0 auto;
	}
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	background-color: #fffefa;
	border-left: 8px solid #fee79a;
}

@media screen and (min-width: 48rem)
{
	blockquote {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media screen and (min-width: 64rem)
{
	body {
		max-width: 60rem;
	}
}

code
{
	background-color: #e0e6e6;
}

img {
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
}

@media screen and (min-width: 48rem)
{
	img {
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	}
}
